table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}
tr {
    text-align: center;
    padding: 10px;
}
#mon {
    background-color: yellow;
}
#tue {
    background-color: palevioletred;
}
#wed {
    background-color: green;
}
#thu {
    background-color: orange;
}
#fri {
    background-color: blue;
}
.text {
    transform: rotate(-90deg); 
    position:relative;
}
