table, th, td, tr {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
.font {
    transform: rotate(-90deg);
    position: relative;
}
#m {
    background-color: yellow;
}
#t {
    background-color: pink;
}
#w {
    background-color: green;
}
#th {
    background-color: orange;
}
#f {
    background-color: blue;
}